<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shersoft.android_ip">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:name="io.flutter.app.FlutterApplication">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                />
        </provider>
        <!--        <receiver-->
<!--            android:name=".AndroidIpPlugin$NetworkChangeReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.AIRPLANE_MODE" />-->

<!--                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
<!--                <action android:name="android.net.wifi.WIFI_AP_STATE_CHANGED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
    </application>
</manifest>
